<div class="container">

    <h1>{{this.title}}</h1>
    
    <form action="" [formGroup]="calculatorForm">
        
        <div class="container_input">
            <label for="number1">Valor 1</label>
            <input id="number1" type="number" formControlName="number1" class="input">
        </div>
        <div class="container_input">
            <label for="number2">Valor 2</label>
            <input id="number2" type="number" formControlName="number2"  class="input">
        </div>

    <div>
        <button class="button" type="button" id="submit" (click)="onAction()">Calcular</button>
        <button class="button button_clean" type="reset">Limpiar</button>
    </div>
</form>
</div>