<div class="container">

  <h1>{{showResult}}</h1>
  <div class="container_calculators">
    <app-calculator (resultOuput)="setResult($event)" title="Suma" operator="+"></app-calculator>
    <app-calculator (resultOuput)="setResult($event)" title="Resta" operator="-"></app-calculator>
    <app-calculator (resultOuput)="setResult($event)" title="Multiplicación" operator="*"></app-calculator>
    <app-calculator (resultOuput)="setResult($event)" title="División" operator="/"></app-calculator>
  </div>
  
</div>